.tour{
    transition: transform,1s;
}
.tour:hover{
     cursor: pointer;
       transform: scale(1.08);
}

.tex{
    transition: transform,1s;
}
.tex:hover{
    cursor: pointer;
    transform: scale(1.08);
}

.card:hover{
    cursor: pointer;
    transform: scale(1.06);
}
.card{
    transition: transform,1s;
}

.carousel{
    transition: transform,1s;
}
.carousel:hover{
    cursor: pointer;
    transform: scale(1.06);
}

article .ac{
    display: none;
    
}
article .acf{
    display: flex;
   
}

article .chau{
    display: none;
}
article .chauf{
    display: flex;
}

article .enf{
    display: none;
}
article .enff{
    display: flex;
}

article .fem{
    display: none;
}
article .femf{
    display: flex;
}

article .hom{
    display:none;
}
article .homf{
    display: flex;
}
.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
	color: #ffdc0f;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	/* Le groupe '.stars' positionne les étoiles
		 les unes à côté des autres sans espacements. */
	.stars {
		display: inline-flex;
		justify-content: center;
		font-size: 1em;
	}

	/**
	 * Et là opère la magie du ':hover' !
	 */

	/* A l'état :hover sur le parent '.rating',
		 on force TOUTES les étoiles à passer en jaune. */
	.stars:hover .fa-star {
		color: #ffdc0f;
	}
	/* Et si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
	.stars .fa-star:hover ~ .fa-star {
		color: gray;
	}

/******************************************************************/
/* style pour la démo */
html { margin-top: 2em; text-align: center; font-family: 'Droid Sans', sans-serif; font-size: 1.4rem; }
a { color: crimson; font-weight: 600; transition: all 0.8s cubic-bezier(.14,1.36,.5,.88); display: inline-block; }
a:hover { transform: scale(1.3) }
/******************************************************************/